{% extends 'posts/base.html' %}
{% block title %}Избранное{% endblock %}
{% block content %}
    <div class="w-75" style="margin: 0 auto;">
        <h1 class="text-light">Избранные объявления</h1>
        <ul class="list-group">
            {% for favorite in favorite_posts %}
            <li class="list-group-item list-group-item-action">
                <a href="{% url 'posts:post_detail' favorite.post.pk %}" class="nav-link">{{ favorite.post.title }}</a>
            </li>
            {% empty %}
            <li class="list-group-item">Нет избранных постов</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
