{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Личная страница {{ user }}{% endblock %}
{% block css %}
<link href="{% static 'css/users/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="main_info">
    <div class="main_info_image">
        <img src="{% if user.image %} {{ user.image.url }} {% else %} {% static 'img/users/default-pangea.png' %} {% endif %}"
            class="rounded-4" style="width: 100%; height: 100%; object-fit: cover; ">
    </div>
    <div class="main_info_text d-flex flex-column justify-content-between">
        <div class="main_info_user-desc">
            <h1>{{ user }}</h1>
            <div class="d-flex gap-3">
                <div>
                    <div>Имя: </div>
                    <div>Номер телефона: </div>
                    <div>Электронная почта: </div>
                    <div>Дата регистрации: </div>
                </div>
                <div>
                    <div>
                        {% if user.first_name %}
                        {{ user.first_name }} {{ user.last_name }}
                        {% else %}
                        -
                        {% endif %}
                    </div>
                    <div>
                        {% if user.phone_number %}
                        {{ user.phone_number }}
                        {% else %}
                        -
                        {% endif %}
                    </div>
                    <div>{{ user.email }}</div>
                    <div>{{ user.date_joined }}</div>
                </div>
            </div>
        </div>
        <div>
            <button id="btn" class="btn btn-light">Изменить</button>
            <a href="{% url 'posts:archive_list' %}" class="btn" style="background-color: #2c786c; color: #fff;">
                Мой архив <span class="badge badge-light">{{ archived_posts_count }}</span>
            </a>
            <a href="{% url 'users:logout' %}" class="btn btn-danger">Выйти</a>
        </div>
    </div>
</div>

<form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data" id="form" class="edit_form">
    {% csrf_token %}
    <div class="d-flex justify-content-between gap-3">
        <div class="w-100">
            <label class="form-label" for="{{ form.first_name.id_for_label }}">Имя</label>
            {{ form.first_name }}
        </div>
        <div class="w-100">
            <label class="form-label" for="{{ form.last_name.id_for_label }}">Фамилия</label>
            {{ form.last_name }}
        </div>
    </div>
    <div class="d-flex justify-content-between gap-3 my-3">
        <div class="w-100">
            <label class="form-label" for="{{ form.phone_number.id_for_label }}">Номер телефона</label>
            {{ form.phone_number }}
        </div>
        <div class="w-100">
            <label class="form-label" for="{{ form.image.id_for_label }}">
                Выберите изображение
            </label>
            {{ form.image }}
        </div>
    </div>
    <div class="d-flex justify-content-between gap-3" style="margin-bottom: 20px;">
        <div class="w-100">
            <label class="form-label" for="{{ form.username.id_for_label }}">Имя пользователя</label>
            {{ form.username }}
        </div>
        <div class="w-100">
            <label class="form-label" for="{{ form.email.id_for_label }}">
                Адрес электронной почты
            </label>
            {{ form.email }}
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-success" type="submit" value="Сохранить">
    </div>
</form>

{% if my_posts %}
<h1 class="my_posts_title">Мои объявления</h1>
{% endif %}
<div class="my_posts">
    {% if my_posts %}
    {% for post in my_posts %}
    <div class="my_post">

        {% if post.image %}
        <a href="{% url 'posts:post_detail' post.pk %}" class="image-container">
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="my_post_img">
        </a>
        {% else %}
        <a href="{% url 'posts:post_detail' post.pk %}" class="image-container">
            <img src="{% static 'img/posts/default_img.png'%}" alt="{{ post.title }}" class="my_post_img">
        </a>
        {% endif %}
        <div class="p-3">
            <h5 class="my_post_title">{{ post.title }}</h5>
            <div class="my_post_desc">{{ post.description }}</div>
            <a href="{% url 'posts:post_detail' post.pk %}" class="my_post_detail_link">Подробнее</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<script>
    const btn = document.getElementById('btn')
    const form = document.getElementById('form')
    btn.addEventListener('click', () => {
        form.classList.toggle('show')
    })
</script>
{% endblock %}