{% extends 'users/base.html' %}
{% load static %}
{% block title %}Регистрация на Pangea{% endblock %}
{% block css %}
<link href="{% static 'css/users/auth.css' %}" rel="stylesheet" />{% endblock %}
{% block content %}
<div class="login_wrapper">
    <div class="container_login">
        <a href="javascript:history.back()" class="login_arrow-back">
            <img src="{% static 'img/users/arrow-back.png' %}" alt="">
        </a>
        <div class="login_main-form">
            <img src="{% static 'img/users/logo-white.png' %}" alt="logo" style="width: 35px;" class="mb-1" />
            <div class="login_title mb-3">Регистрация</div>
            <div>
                {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 50px;">
                    {{ form.errors }}
                    <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert"></button>
                </div>
                {% endif %}
            </div>
            <div class="text-center">
                <form action="{% url 'users:registration' %}" method="post" class="">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        {{ form.phone_number }}
                    </div>
                    <div class="form-group">
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        {{ form.password2 }}
                    </div>
                    <button type="submit" class="login_button" style="margin-top: 8px;">Авторизоваться</button><br/>
                    <a href="{% url 'users:login' %}" class="login_reg-btn">Войти в аккаунт</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}