{% extends 'users/base.html' %}
{% block content %}
  <div class="container">
      <div class="w-50 mt-5 d-flex justify-content-center flex-column">
          <h1>Регистрация</h1>
          <div>
              {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert"
                     style="margin-top: 50px;">
                    {{ form.errors }}
                    <button type="button" class="btn-close" aria-label="Close" data-dismiss="alert"></button>
                </div>
              {% endif %}
          </div>
          <form action="{% url 'users:registration' %}" method="post" class="">
              {% csrf_token %}
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.first_name.id_for_label }}">
                      Имя
                  </label>
                  {{ form.first_name }}
              </div>
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.last_name.id_for_label }}">
                      Фамилия
                  </label>
                  {{ form.last_name }}
              </div>
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.username.id_for_label }}">
                      Имя пользователя
                  </label>
                  {{ form.username }}
              </div>
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.email.id_for_label }}">
                      Адрес электронной почты
                  </label>
                  {{ form.email }}
              </div>
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.password1.id_for_label }}">
                      Пароль
                  </label>
                  {{ form.password1 }}
              </div>
              <div class="form-group">
                  <label class="small mb-1" for="{{ form.password2.id_for_label }}">
                      Подтверждение пароля
                  </label>
                  {{ form.password2 }}
              </div>
              <button type="submit" class="btn btn-primary mt-3">Авторизоваться</button>
          </form>
      </div>
  </div>
{% endblock %}
