{% extends 'posts/base.html' %}
{% block content %}
     <div class="container m-3">
         <a href="/posts/new">Создать объявление</a>

        {% for post in posts %}
         <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.description }}</p>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
                <li>
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" width="400">
                </li>
              <li class="list-group-item">{{ post.created_at }}</li>
              <li class="list-group-item">Цена: {{ post.cost }}тг</li>
              <li class="list-group-item">От: {{ post.user_id }}</li>
            </ul>
          </div>
        </div>
        {% endfor %}
     </div>
{% endblock %}



