{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Объявление: {{ post.title }}{% endblock %}
{% block css %}
<link href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% with user=request.user %}

<div class="post_detail_wrapper">
  {% if post.image %}
  <div><img src="{{ post.image.url }}" alt="{{ post.title }}" width="400" style="border-radius: 8px;"></div>
  {% else %}
  <div><img src="{% static 'img/posts/default_img.png'%}" alt="{{ post.title }}" width="400"
      style="border-radius: 8px;"></div>
  {% endif %}
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 30px;">
      <h5 class="post_detail_title">{{ post.title }}</h5>
      {% if post.cost %}
      <div class="d-flex justify-content-end">
        <div class="post_detail_cost">Цена: {{ post.cost }}тг</div>
      </div>
      {% endif %}
    </div>
    <div class="post_detail_desc">{{ post.description }}</div>
    <hr>
    <div class="post_detail_autor_contact">
      <div style="font-weight: 600;">{{ post.user_id.first_name }} {{ post.user_id.last_name }}</div>
      <div class="d-flex post_detail_phone-number">
        <a href="tel:{{ post.user_id.phone_number }}" class="post_detail_phone-number_block" id="tel">{{ post.user_id.phone_number }}</a>
        <button class="post_detail_phone-number_btn" id="phone">Показать номер телефона</button>
      </div>
    </div>
    <div class="post_detail_autor">Опубликовано: {{ post.created_at }}</div>
    {% if user.is_authenticated and user == post.user_id %}
    <div class="my-3">
      <a href="{% url 'posts:delete_post' post.pk %}" class="post_detail_btn-del">Удалить</a>
    </div>
    {% endif %}
  </div>

</div>

<script>
const phone = document.getElementById('phone');
const tel = document.getElementById('tel');
phone.addEventListener('click', () => {
  tel.classList.toggle('show')
})
</script>


{% endwith %}
{% endblock %}

