{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Объявление: {{ post.title }}{% endblock %}
{% block css %}
<link href="{% static 'css/posts/post_detail.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
{% with user=request.user %}

<div class="post_detail_wrapper">
  {% if post.image %}
  <div><img src="{{ post.image.url }}" alt="{{ post.title }}" width="400" style="border-radius: 8px;"></div>
  {% else %}
  <div><img src="{% static 'img/posts/default_img.png'%}" alt="{{ post.title }}" width="400"
      style="border-radius: 8px;"></div>
  {% endif %}
  <div class="d-flex flex-column justify-content-between w-100">
    {% if post.cost %}
    <div style="margin-bottom: 70px;" class="d-flex justify-content-end">
      <div class="post_detail_cost">Цена: {{ post.cost }}тг</div>
    </div>
    {% endif %}
    <div class="d-flex justify-content-between align-items-center" style="margin-bottom: 50px;">
      <h5 class="post_detail_title">{{ post.title }}</h5>
      <img src="{% static 'img/posts/favorite-heart.png' %}" alt="save" class="post_save_icon">
    </div>
    <div class="post_detail_desc">{{ post.description }}</div>
    {% if post.user_id != request.user %}
    <div style="margin-bottom: 50px;">
    </div>
    {% endif %}
    <div class="post_detail_autor">{{ post.user_id.first_name }} {{ post.user_id.last_name }} <a href="tel:{{ post.user_id.phone_number }}" class="post_detail_phone-number">{{ post.user_id.phone_number }}</a></div>
    <div class="post_detail_autor">{{ post.created_at }}</div>
    {% if user.is_authenticated and user == post.user_id %}
    <a href="{% url 'posts:delete_post' post.pk %}">Delete</a>
    {% endif %}
  </div>

</div>



{% endwith %}
{% endblock %}