{% extends 'posts/base.html' %}
{% load static %}
{% block title %}Подать объявление{% endblock %}
{% block css %}
<link href="{% static 'css/posts/post_add.css' %}" rel="stylesheet" />{% endblock %}
{% block content %}
<div class="post-add_wrapper" style="margin-top: 5%;">
    <div>
        <div class="create_post_with_tg">
            <p>Добро пожаловать на нашу главную страницу! Если вы хотите разместить свое объявление по поиску сожителя или
                вы сами ищите жилье, либо у вас есть вопросы, переходите по ссылке на наш телеграм и свяжитесь с нами
                <a href="https://t.me/s_dkvaa">@s_dkvaa</a></p>

            <p>Мы готовы помочь вам создать идеальное пространство для проживания!</p>
        </div>
    </div>
</div>
{% endblock %}