{% extends 'posts/base.html' %} 
{% load static %}
{% block title %}Пангея. Поиск руммейта в Алматы.{% endblock %} 
{% block css %}<link href="{% static 'css/posts/start-page.css' %}" rel="stylesheet"/>{% endblock %} 
{% block content %}
<div class="start-page_wrapper" style="height: 80%;">
  <div class="text-center" style="margin: 12px 0 60px;">
    <div class="start-page_text">Вместе с нами!</div>
    <div class="start-page_devider"/></div>
    <div class="start-page_text start-page_subtext">Быстро и легко</div>
  </div>
  <div class="start-page_input-link">
    <a href="posts/">
      <span class="start-page_input-link_text text-animation"> Поиск сожителя </span>
      <img src="{% static 'img/start-page/loupe.png' %}" alt="">
    </a>
  </div>
  <a href="posts/" class="start-page_img_link-house">
    <img src="{% static 'img/start-page/house-blur.png' %}" alt="house" class="start-page_house">
    <img src="{% static 'img/start-page/house.png' %}" alt="house" class="start-page_house start-page_house_main">
  </a>
</div>
{% endblock %}
