.edit_form {
    display: none;
    background-color: #3baea0;
    padding: 15px;
    margin-bottom: 20px;
}
.show {
    display: block;
}
.main_info {
    background-color: #3baea0;
    padding: 15px;
    border-radius: 16px;
}
.main_info_text {
    color: #fff;
}
.form-label {
    color: #fff;
}
.form-control {
    background-color: #2c786c;
    color: #fff;
    border: 0;
}
.my_posts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.my_posts_title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.my_post {
    width: 380px;
    height: 100%;
    max-height: 900px;
    background-color: #3baea0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    color: #fff;
}
.my_post_img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
.image-container {
    width: 380px;
    height: 380px;
    /* height: auto; */
    overflow: hidden; 
}
.my_post_detail_link {
    padding: 4px 10px;
    /* width: 100px; */
    border-radius: 16px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    background-color: #2c786c;
}
.my_post_desc {
    height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis;
}