.edit_form {
    display: none;
    background-color: #3baea0;
    padding: 15px;
    margin-bottom: 20px;
}
.show {
    display: block;
}
.main_info {
    display: flex;
    gap: 1rem;
    background-color: #3baea0;
    padding: 15px;
    border-radius: 16px;
}
.main_info_text {
    color: #fff;
}
.form-label {
    color: #fff;
}
.form-control {
    background-color: #2c786c;
    color: #fff;
    border: 0;
}
.my_posts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.my_posts_title {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.my_post {
    width: 380px;
    height: 100%;
    max-height: 900px;
    background-color: #3baea0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    color: #fff;
}
.my_post_img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}
.image-container {
    width: 380px;
    height: 380px;
    /* height: auto; */
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.my_post_detail_link {
    padding: 4px 10px;
    /* width: 100px; */
    border-radius: 16px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
    background-color: #2c786c;
}
.my_post_desc {
    height: 100px;
    overflow: hidden; 
    text-overflow: ellipsis;
}
.main_info_image {
    width: 300px; 
    height: 300px; 
    overflow: hidden;
}
@media screen and (max-width: 768px) {
    .main_info {
        flex-direction: column;
        align-items: center;
        background-color: inherit;
        padding: 0;
    }
    .main_info_user-desc {
        background-color: #3baea0;
        border-radius: 1rem;
        padding: 20px;
        margin-bottom: 1rem;
    }
    .main_info_text {
        width: 70%;
    }
    .main_info_image {
        width: 70%;
        height: auto;
    }
    .my_posts {
        justify-content: center;
    }
    .my_post {
        width: 70%;
    }
    .image-container {
        width: 100%;
        height: auto;
    }
    .edit_form {
        width: 70%;
        margin: 0 auto;
        border-radius: 1rem;
    }
}